<h1>Create a Character</h1>

<div class="container">
    <form ng-submit="createCharacter()" role="form">
        <div class="form-group">
            <h3>Enter your name:</h3>
            <input type="text" size="10" class="form-control-input" placeholder="DUNGEON MAN" required>
        </div>

        <div class="form-group">
            <h3>Select your class:</h3>
            <select id="class" required>
                <option value="fighter">Fighter</option>
                <option value="mercenary">Mercenary</option>
                <option value="peasant">Peasant</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Enter</button>
    </form>
</div>
