<div class="col-md-4">
    <h3>Add a character</h3>
    <form ng-submit="addCharacter()" role="form" class="form-inline">
        <div class="form-group">
            <h3>Enter your name:</h3>
            <input type="text" size="10" ng-model="nameOfCharacter" class="form-control-input" placeholder="DUNGEON MAN" required>
            <button type="submit" class="btn btn-success">Enter</button>
        </div>

        <div class="form-group">
            <h3>Select your class:</h3>
            <select ng-model="healthPoints" required>
                <option value=100>Fighter</option>
                <option value=75>Mercenary</option>
                <option value=50>Peasant</option>
            </select>
        </div>

    </form>
<p>{{ CharacterFactory.name_of_character }}</p>
    <div ng-show="CharacterFactory.name_of_character">
        <p>{{ CharacterFactory.healthPoints }} hit points</p>
    </div>

    <a ui-sref="cell" link href=""><button type="submit">GO TO JAIL, DUNGEON MAN</button></a>

</div>
