body {
    background-size: cover;
    color: #FF8533;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("/../images/dungeon.jpg");
}

h6 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 575px;
    text-align: center;
    position: relative;
    bottom: 5px;
}

.form-control-input {
    width: 50%;
}
